<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dome.web.cmsbanner.dao.CmsBannerContentMapper">
  <resultMap id="BaseResultMap" type="com.dome.bean.CmsBannerContent">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="fk_banner_Id" jdbcType="VARCHAR" property="fkBannerId" />
    <result column="banner_keyword" jdbcType="VARCHAR" property="bannerKeyword" />
    <result column="banner_name" jdbcType="VARCHAR" property="bannerName" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="banner_link_flag" jdbcType="INTEGER" property="bannerLinkFlag" />
    <result column="banner_link" jdbcType="VARCHAR" property="bannerLink" />
    <result column="banner_target" jdbcType="VARCHAR" property="bannerTarget" />
    <result column="quote_flag" jdbcType="INTEGER" property="quoteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_banner_Id, banner_keyword, banner_name, banner_url, sort, banner_link_flag, 
    banner_link, banner_target, quote_flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hyc_c_banner_content
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hyc_c_banner_content
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dome.bean.CmsBannerContent">
    insert into hyc_c_banner_content (id, fk_banner_Id, banner_keyword, 
      banner_name, banner_url, sort, 
      banner_link_flag, banner_link, banner_target, 
      quote_flag, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{fkBannerId,jdbcType=VARCHAR}, #{bannerKeyword,jdbcType=VARCHAR}, 
      #{bannerName,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{bannerLinkFlag,jdbcType=INTEGER}, #{bannerLink,jdbcType=VARCHAR}, #{bannerTarget,jdbcType=VARCHAR}, 
      #{quoteFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dome.bean.CmsBannerContent">
    insert into hyc_c_banner_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkBannerId != null">
        fk_banner_Id,
      </if>
      <if test="bannerKeyword != null">
        banner_keyword,
      </if>
      <if test="bannerName != null">
        banner_name,
      </if>
      <if test="bannerUrl != null">
        banner_url,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="bannerLinkFlag != null">
        banner_link_flag,
      </if>
      <if test="bannerLink != null">
        banner_link,
      </if>
      <if test="bannerTarget != null">
        banner_target,
      </if>
      <if test="quoteFlag != null">
        quote_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fkBannerId != null">
        #{fkBannerId,jdbcType=VARCHAR},
      </if>
      <if test="bannerKeyword != null">
        #{bannerKeyword,jdbcType=VARCHAR},
      </if>
      <if test="bannerName != null">
        #{bannerName,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="bannerLinkFlag != null">
        #{bannerLinkFlag,jdbcType=INTEGER},
      </if>
      <if test="bannerLink != null">
        #{bannerLink,jdbcType=VARCHAR},
      </if>
      <if test="bannerTarget != null">
        #{bannerTarget,jdbcType=VARCHAR},
      </if>
      <if test="quoteFlag != null">
        #{quoteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dome.bean.CmsBannerContent">
    update hyc_c_banner_content
    <set>
      <if test="fkBannerId != null">
        fk_banner_Id = #{fkBannerId,jdbcType=VARCHAR},
      </if>
      <if test="bannerKeyword != null">
        banner_keyword = #{bannerKeyword,jdbcType=VARCHAR},
      </if>
      <if test="bannerName != null">
        banner_name = #{bannerName,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="bannerLinkFlag != null">
        banner_link_flag = #{bannerLinkFlag,jdbcType=INTEGER},
      </if>
      <if test="bannerLink != null">
        banner_link = #{bannerLink,jdbcType=VARCHAR},
      </if>
      <if test="bannerTarget != null">
        banner_target = #{bannerTarget,jdbcType=VARCHAR},
      </if>
      <if test="quoteFlag != null">
        quote_flag = #{quoteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dome.bean.CmsBannerContent">
    update hyc_c_banner_content
    set fk_banner_Id = #{fkBannerId,jdbcType=VARCHAR},
      banner_keyword = #{bannerKeyword,jdbcType=VARCHAR},
      banner_name = #{bannerName,jdbcType=VARCHAR},
      banner_url = #{bannerUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      banner_link_flag = #{bannerLinkFlag,jdbcType=INTEGER},
      banner_link = #{bannerLink,jdbcType=VARCHAR},
      banner_target = #{bannerTarget,jdbcType=VARCHAR},
      quote_flag = #{quoteFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除banner 内容 根据bannerId -->
  <delete id="deleteBannerContent" parameterType="map">
   	 delete from hyc_c_banner_content where fk_banner_Id = #{fkBannerId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 查询banner内容 -->
  <select id="findBannerBannerContent" parameterType="map" resultMap="BaseResultMap">
  	SELECT * FROM hyc_c_banner_content c WHERE c.fk_banner_Id = #{bannerId,jdbcType=VARCHAR}
  </select>
  
</mapper>